{% load staticfiles %}
{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{% staticfiles 'css/estiloBarra.css' %}">
		<link rel="stylesheet" href="{% staticfiles 'css/estiloBotones.css' %}">
		<link rel="stylesheet" href="{% staticfiles 'css/bootstrap.min.css' %}" crossorigin="anonymous">
		
		
		<title> TRADUCTOR DE EMOCIONES </title> 
	</head>
	<body>
		<div class="container">
			<br>
			<div class="row">
				<div class="col-sm-9">
					<h2 style="text-align: left;"> TRADUCTOR DE EMOCIONES </h2>
				</div>
				<div class="col-sm-3">
					<button type="button" class="btn btn-default botonGlyphicon" data-toggle="modal" data-target="#miModal"> <span class="glyphicon glyphicon-wrench"> </span> </button>
				</div>
			</div>
			<div class="row">
				<textarea class="form-control" rows="10" id="textArea" placeholder="Introduzca aquí su texto..."></textarea>
			</div>
			<br>
			<center>
				
					<button type="button" class="btn btn-default" id="enviarTexto">Traducir</button>
				
			</center>
			
	
		
			<div id="salida"></div>
			<div id="hola" style= "display:none;"></div>

			<br>
			
		<div class="progress">
					<div class="progress-bar progress-bar bTristeza" id="barritaTristeza"> 
						<span class="textoProgress textoCentrado" id="textoTristeza"></span>
						<span class="textoProgress textoCentrado" id="imagenTristeza"></span>
					</div>
					<div class="progress-bar progress-bar bMiedo" id="barritaMiedo"> 
						<span class="textoProgress textoCentrado" id="textoMiedo"></span>
						<span class="textoProgress textoCentrado" id="imagenMiedo"></span>
					</div>
					<div class="progress-bar progress-bar bAlegria" id="barritaAlegria"> 
						<span class="textoProgress textoCentrado" id="textoAlegria"></span>
						<span class="textoProgress textoCentrado" id="imagenAlegria"></span>
					</div>
					<div class="progress-bar progress-bar bEnfado" id="barritaEnfado"> 
						<span class="textoProgress textoCentrado" id="textoEnfado"></span>
						<span class="textoProgress textoCentrado" id="imagenEnfado"></span>
					</div>
					<div class="progress-bar progress-bar bAsco" id="barritaAsco"> 
						<span class="textoProgress textoCentrado" id="textoAsco"></span>
						<span class="textoProgress textoCentrado" id="imagenAsco"></span>
					</div>
				</div>
		
			</div>

		
<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Ajustes</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h6> Posición de las emociones</h6>
				<div class="radio">
					<label class="radio-inline"><input type="radio" name="optradio">Abajo</label>
				</div>
				<div class="radio">
				  	<label class="radio-inline"><input type="radio" name="optradio">Derecha</label>
				</div>
				<h6> ¿Qué emociones quieres ver? </h6>
				<div class="radio">
					<label class="radio-inline"><input type="radio" name="optradio">Todas</label>
				</div>
				<div class="radio">
				  	<label class="radio-inline"><input type="radio" name="optradio">Solo las del texto</label>
				</div>
				<div>
				  	<label class="radio-inline"><input type="radio" name="optradio">Solo mayoritaria</label>
				</div>	
			</div>
		</div>
	</div>
</div>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>

<script type=text/javascript>
$(document).ready(function(){
    $("#enviarTexto").click(function(){	
	var datos = $("#textArea").val();
	
       $.ajax({
		type: 'GET', /*Creo que por defecto es GET*/
		url: 'http://sesat.fdi.ucm.es/emociones/'+datos+'/',
		contentType: 'application/json',
		dataType: 'json',
		crossDomain: true,
		success: function(data){
			
			$("#salida").html(JSON.stringify(data));  /*Esto mostrará todos los datos*/   
			var grados = data.grados;
			var grados_array = data.grados.replace('[', ' ').replace(']', ' ').split(',');
			var tristeza = grados_array[0]/10;
			var miedo = grados_array[1]/10;
			var alegria = grados_array[2]/10;
			var enfado = grados_array[3]/10;
			var asco = grados_array[4]/10;
			
			if(tristeza > 1){
				var imgTristeza = $('<img src="{% static "img/tristeza.png" %}" alt="sad face" width="60" height="60"/>');
				$('#textoTristeza').html('');
				$('#imagenTristeza').html('');
				$('#textoTristeza').html("Tristeza");
				$('#imagenTristeza').append(imgTristeza); 
		
			}
			else {
				$('#textoTristeza').html('');
				$('#imagenTristeza').html('');

			}
			if(miedo > 1){
				var imgMiedo = $('<img src="{% static "img/miedo.png" %}" alt="scary face" width="60" height="60"/>');
				$('#textoMiedo').html('');
				$('#imagenMiedo').html('');
				$('#textoMiedo').html('Miedo');
				$('#imagenMiedo').append(imgMiedo); 
			}
			else {
				$('#textoMiedo').html('');
				$('#imagenMiedo').html('');
			}
			if(alegria > 1){
				var imgAlegria = $('<img src="{% static "img/alegria.png" %}" alt="happy face" width="60" height="60"/>');
				$('#textoAlegria').html('');
				$('#imagenAlegria').html('');
				$('#textoAlegria').html('Alegria');
				$('#imagenAlegria').append(imgAlegria); 
			}
			else {
				$('#textoAlegria').html('');
				$('#imagenAlegria').html('');
			}
			if(enfado > 1){
				var imgEnfado = $('<img src="{% static "img/enfado.png" %}" alt="angry face" width="60" height="60"/>');
				$('#textoEnfado').html('');
				$('#imagenEnfado').html(''); 
				$('#textoEnfado').html('Enfado');				
				$('#imagenEnfado').append(imgEnfado); 
			}
			else {
				$('#textoEnfado').html('');
				$('#imagenEnfado').html(''); 
			}
			if(asco > 1){
				var imgAsco = $('<img src="{% static "img/asco.png" %}" alt="dislike face" width="60" height="60"/>');
				$('#textoAsco').html('');
				$('#imagenAsco').html('');
				$('#textoAsco').html('Asco');
				$('#imagenAsco').append(imgAsco); 
			}
			else {
				$('#textoAsco').html('');
				$('#imagenAsco').html(imgAsco); 
			}
			
			var tristeza = "width:" + parseInt(grados_array[0]-1) + "%";
			var miedo = "width:" +  parseInt(grados_array[1]-1) + "%";
			var alegria = "width:" + parseInt(grados_array[2]-1) + "%";
			var enfado = "width:" + parseInt(grados_array[3]-1) + "%";
			var asco = "width:" + parseInt(grados_array[4]-1) + "%";
			
			document.getElementById("barritaTristeza").style = tristeza;
			document.getElementById("barritaMiedo").style = miedo;
			document.getElementById("barritaAlegria").style = alegria;
			document.getElementById("barritaEnfado").style = enfado;
			document.getElementById("barritaAsco").style = asco;

		},	
		error: function(request, status, errorThrown) {
               		alert(request);
			alert(status);
                	alert(errorThrown);

            	},
	});
    });
});
</script>
	</body>
</html>




