{% load staticfiles %}
{% load static %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'css/estiloBarra.css' %}">
		<link rel="stylesheet" href="{% static 'css/estiloBotones.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" crossorigin="anonymous">
		
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>

	<script type=text/javascript>
	function cambiarcolor(){
		let colorTriste = document.getElementById("colorTriste").value;
		let colorMiedo = document.getElementById("colorMiedo").value;
		let colorAlegre = document.getElementById("colorAlegre").value;
		let colorEnfado = document.getElementById("colorEnfado").value;
		let colorAsco = document.getElementById("colorAsco").value;
		document.getElementById('barritaTristeza').style.backgroundColor = colorTriste;
		document.getElementById('barritaMiedo').style.backgroundColor = colorMiedo;
		document.getElementById('barritaAlegria').style.backgroundColor = colorAlegre;
		document.getElementById('barritaEnfado').style.backgroundColor = colorEnfado;
		document.getElementById('barritaAsco').style.backgroundColor = colorAsco;
		
		document.getElementById('modalPersonalizado').style.backgroundColor = colorTriste;

		document.getElementById('miModal').modal("hide");


	} 
	$(document).ready(function(){
	    $("#enviarTexto").click(function(){	
		var datos = $("#textArea").val();
		
	       $.ajax({
			type: 'GET', /*Creo que por defecto es GET*/
			url: 'http://sesat.fdi.ucm.es/emociones/'+datos+'/',
			contentType: 'application/json',
			dataType: 'json',
			crossDomain: true,
			success: function(data){
				
				$("#salida").html(JSON.stringify(data));  /*Esto mostrará todos los datos*/   
				var grados = data.grados;
				var grados_array = data.grados.replace('[', ' ').replace(']', ' ').split(',');
				var tristeza = grados_array[0];;
				var miedo = grados_array[1];
				var alegria = grados_array[2];
				var enfado = grados_array[3];
				var asco = grados_array[4];
				var totalGrados = 0;
				for(var i = 0; i<5; i++){
					if(grados_array[i] > 250){
						totalGrados += parseInt(grados_array[i]);
					}
				}
				if(tristeza > 250){
					//totalGrados += parseInt(tristeza);
					var imgTristeza = $('<img  class="img" src="{% static "img/tristeza.png" %}" alt="sad face"/>');
					$('#textoTristeza').html('');
					$('#imagenTristeza').html('');
					$('#textoTristeza').html("Tristeza");
					$('#imagenTristeza').append(imgTristeza); 	
					var tristezaEstilo = "width:" + parseInt(grados_array[0]*100)/totalGrados + "%;";
				} else{
					var tristezaEstilo = "width:" + 0 + "%;";	
				}
				if(miedo > 250){
					//totalGrados += parseInt(miedo);
					var imgMiedo = $('<img  class="img" src="{% static "img/miedo.png" %}" alt="scary face"/>');
					$('#textoMiedo').html('');
					$('#imagenMiedo').html('');
					$('#textoMiedo').html('Miedo');
					$('#imagenMiedo').append(imgMiedo); 

					var miedoEstilo = "width:" +  parseInt(grados_array[1]*100)/totalGrados + "%;";
				}
				else{
					var miedoEstilo = "width:" + 0 + "%;";	
				} 
				if(alegria > 250){
					//totalGrados += parseInt(alegria);
					var imgAlegria = $('<img class="img" src="{% static "img/alegria.png" %}" alt="happy face"/>');
					$('#textoAlegria').html('');
					$('#imagenAlegria').html('');
					$('#textoAlegria').html('Alegria');
					$('#imagenAlegria').append(imgAlegria); 

					var alegriaEstilo = "width:" + parseInt(alegria*100)/totalGrados + "%;";

				} 
				else{
					var alegriaEstilo = "width:" + 0 + "%;";	
				} 
				if(enfado > 250){
					//totalGrados += parseInt(enfado);
					var imgEnfado = $('<img class="img" src="{% static "img/enfado.png" %}" alt="angry face"/>');
					$('#textoEnfado').html('');
					$('#imagenEnfado').html(''); 
					$('#textoEnfado').html('Enfado');				
					$('#imagenEnfado').append(imgEnfado); 
					var enfadoEstilo = "width:" + parseInt(grados_array[3]*100)/totalGrados + "%;";
				} 
				else{
					var enfadoEstilo = "width:" + 0 + "%;";	
				} 
				if(asco > 250){
					//totalGrados += parseInt(asco);
					var imgAsco = $('<img  class="img" src="{% static "img/asco.png" %}" alt="dislike face"/>');
					$('#textoAsco').html('');
					$('#imagenAsco').html('');
					$('#textoAsco').html('Asco');
					$('#imagenAsco').append(imgAsco); 
					var ascoEstilo = "width:" + parseInt(grados_array[4]*100)/totalGrados + "%;";
				}
				else{
					var ascoEstilo = "width:" + 0 + "%;";	
				} 
				
				document.getElementById("barritaTristeza").style = tristezaEstilo;
				document.getElementById("barritaMiedo").style = miedoEstilo;
				document.getElementById("barritaAlegria").style = alegriaEstilo;
				document.getElementById("barritaEnfado").style = enfadoEstilo;
				document.getElementById("barritaAsco").style = ascoEstilo;

			},	
			error: function(request, status, errorThrown) {
	               		alert(request);
				alert(status);
	                	alert(errorThrown);

	            	},
		});
	    });
	});
	</script>
		<title> TRADUCTOR DE EMOCIONES </title> 
	</head>
	<body>
		<div class="container">
			<br>
			<div class="row">
				<div class="col-sm-9">
					<h2> TRADUCTOR DE EMOCIONES </h2>
				</div>
				<div class="col-sm-3">
					<button type="button" class="btn btn-default botonGlyphicon" data-toggle="modal" data-target="#miModal"> <span class="glyphicon glyphicon-wrench"> </span> </button>
				</div>
			</div>
			<div class="row">
				<textarea class="form-control" rows="10" id="textArea" placeholder="Introduzca aquí su texto..."></textarea>
			</div>
			<br>
			<center>
				
					<button type="button" class="btn btn-default" id="enviarTexto">Traducir</button>
				
			</center>
			
			
			<div id="salida"></div>
			<div id="hola" style= "display:none;"></div>

			<br>
			
		<div class="progress">
					<div class="progress-bar progress-bar bTristeza" id="barritaTristeza"> 
						<span class="textoProgress textoCentrado" id="textoTristeza"></span>
						<span class="textoProgress textoCentrado" id="imagenTristeza"></span>
					</div>
					<div class="progress-bar progress-bar bMiedo" id="barritaMiedo"> 
						<span class="textoProgress textoCentrado" id="textoMiedo"></span>
						<span class="textoProgress textoCentrado" id="imagenMiedo"></span>
					</div>
					<div class="progress-bar progress-bar bAlegria" id="barritaAlegria"> 
						<span class="textoProgress textoCentrado" id="textoAlegria"></span>
						<span class="textoProgress textoCentrado" id="imagenAlegria"></span>
					</div>
					<div class="progress-bar progress-bar bEnfado" id="barritaEnfado"> 
						<span class="textoProgress textoCentrado" id="textoEnfado"></span>
						<span class="textoProgress textoCentrado" id="imagenEnfado"></span>
					</div>
					<div class="progress-bar progress-bar bAsco" id="barritaAsco"> 
						<span class="textoProgress textoCentrado" id="textoAsco"></span>
						<span class="textoProgress textoCentrado" id="imagenAsco"></span>
					</div>
				</div>
		
	<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" id="modalPersonalizado">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">Ajustes</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			 <!-- Modal Body -->
            <div class="modal-body">
                
                    <h6> Color de las emociones:</h6>
				<table>
					<tr>
						<th> <label>Tristeza:</label> </th>
						<th> &nbsp;&nbsp;&nbsp;&nbsp;<input id="colorTriste" name="colorTriste" type="color" value="#0000ff"></th>
					</tr>
					<tr>
						<th> <label>Miedo:</label> </th>
						<th> &nbsp;&nbsp;&nbsp;&nbsp;<input id="colorMiedo" name="colorMiedo" type="color" value="#800080"></th>
					</tr>
					<tr>
						<th> <label>Alegría:</label> </th>
						<th> &nbsp;&nbsp;&nbsp;&nbsp;<input id="colorAlegre" name="colorAlegre" type="color" value="#ffff00"></th>
					</tr>
					<tr>
						<th> <label>Enfado:</label> </th>
						<th> &nbsp;&nbsp;&nbsp;&nbsp;<input id="colorEnfado" name="colorEnfado" type="color" value="#ff0000"></th>
					</tr>
					<tr>
						<th> <label>Asco:</label> </th>
						<th> &nbsp;&nbsp;&nbsp;&nbsp;<input id="colorAsco" name="colorAsco" type="color" value="#008000"></th>
					</tr>
				</table>
				<hr>
				<h6> Posición de las emociones: </h6>
				<div class="radio">
					<label class="radio-inline"><input type="radio" name="optradio"> Abajo</label>
				</div>
				<div class="radio">
				  	<label class="radio-inline"><input type="radio" name="optradio"> Derecha</label>
				</div>
 
                <div id="salidaModal"></div>
           
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary submitBtn" onclick="cambiarcolor()">Aceptar</button>
            </div>
		</div>
	</div>
</div>



	</div>

		

	
	</body>
</html>