<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="css/estiloBarra.css">
		
		
		<title> TRADUCTOR DE EMOCIONES </title> 
	</head>
	<body>
		<div class="container">
			<br>
			<div class="row">
				<div class="col-sm-9">
					<h2 style="text-align: left;"> TRADUCTOR DE EMOCIONES </h2>
				</div>
				<div class="col-sm-3">
					<button type="button" class="btn btn-default">Aquí pondremos el icono de ajustes</button>
				</div>
			</div>
			<div class="row">
				<textarea class="form-control" rows="10" id="textArea" placeholder="Introduzca aquí su texto..."></textarea>
			</div>
			<br>
			<center>
				
					<button type="button" class="btn btn-default" id="enviarTexto">Traducir</button>
				
			</center>
			
		</div>

		<div class = "container">
			<div id="salida"></div>

			<br>
			<div class="row">
				<p> Tristeza:<div id="tristeza" class="col-md-1"></div> </p>
				<p> Miedo:<div id="miedo" class="col-md-1"></div> </p>
				<p> Alegria:<div id="alegria" class="col-md-1"></div> </p>
				<p> Enfado:<div id="enfado" class="col-md-1"></div> </p>
				<p> Sorpresa:<div id="sorpresa" class="col-md-1"></div> </p>
			</div>


		 	<div class="row">
					<div class="progress">
						<div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 10%;" data-toggle="tooltip" data-placement="top" title="Russian">
							<span class="sr-only">1% Complete</span>
							<span class="progress-type">Russian</span>
						</div>
					</div>
					<!--<div class="progress-meter">
						<div class="meter meter-left" style="width: 25%;"><span class="meter-text">Meh</span></div>
						<div class="meter meter-left" style="width: 25%;"><span class="meter-text">Sorta</span></div>
		    			<div class="meter meter-right" style="width: 20%;"><span class="meter-text">MASTER</span></div>
						<div class="meter meter-right" style="width: 30%;"><span class="meter-text">WOW</span></div>
					</div>-->
			</div>
		</div>
		

		
		
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>

<script type=text/javascript>
$(document).ready(function(){
    $("#enviarTexto").click(function(){	
	var datos = $("#textArea").val();
	
       $.ajax({
		type: 'GET', /*Creo que por defecto es GET*/
		url: 'http://sesat.fdi.ucm.es/emociones/'+datos+'/',
		contentType: 'application/json',
		dataType: 'json',
		crossDomain: true,
		success: function(data){
			
			$("#salida").html(JSON.stringify(data));  /*Esto mostrará todos los datos*/   
			var porcentajes = data.porcentajes;
			var porcentajes_array = data.porcentajes.replace('[', ' ').replace(']', ' ').split(',');
			var tristeza = porcentajes_array[0];
			var miedo = porcentajes_array[1];
			var alegria = porcentajes_array[2];
			var enfado = porcentajes_array[3];
			var sorpresa = porcentajes_array[4];

			if(tristeza != 0){
				$("#tristeza").html(tristeza); /*Aquí mostrará el porcentaje de tristeza */
				var imgTristeza = $('<img src="img/tristeza.png" alt="sad face" width="50" height="50"/>');
				$('#tristeza').append(imgTristeza); 
			}
			else {
				$("#tristeza").html('');
				$("#tristeza").append('');
			}
			if(miedo != 0){
				$("#miedo").html(miedo); /*Aquí mostrará el porcentaje de miedo */
				var imgMiedo = $('<img src="img/miedo.png" alt="scary face" width="50" height="50"/>');
				$('#miedo').append(imgMiedo); 
			}
			else {
				$("#miedo").html('');
				$("#miedo").append('');
			}
			if(alegria != 0){
				$("#alegria").html(alegria); /*Aquí mostrará el porcentaje de alegría */
				var imgAlegria = $('<img src="img/alegria.png" alt="happy face" width="50" height="50"/>');
				$('#alegria').append(imgAlegria); 
			}
			else {
				$("#alegria").html('');
				$("#alegria").append('');
			}
			if(enfado != 0){
				$("#enfado").html(enfado); /*Aquí mostrará el porcentaje de enfado */
				var imgEnfado = $('<img src="img/enfado.png" alt="angry face" width="50" height="50"/>');
				$('#enfado').append(imgEnfado); 
			}
			else {
				$("#enfado").html('');
				$("#enfado").append('');
			}
			if(sorpresa != 0){
				$("#sorpresa").html(sorpresa); /*Aquí mostrará el porcentaje de sorpresa */
				var imgSorpresa = $('<img src="img/sorpresa.png" alt="surprise face" width="50" height="50"/>');
				$('#sorpresa').append(imgSorpresa); 
			}
			else {
				$("#sorpresa").html('');
				$("#sorpresa").append('');
			}
			
		},	
		error: function(request, status, errorThrown) {
               		alert(request);
			alert(status);
                	alert(errorThrown);

            	},
	});
    });
});
</script>
	</body>
</html>




