[Unit]
Description=Servidor de emociones

[Service]
WorkingDirectory=/Servidor
ExecStart=/usr/bin/python3 manage.py runserver
Restart=always

[Install]
WantedBy=multi-user.target
